@import url('https://rsms.me/inter/inter.css');

@font-face {
  font-family: 'Dystopian';
  src: url('Dystopian-Black.woff2') format('woff2'),
    url('Dystopian-Black.woff') format('woff'),
    url('Dystopian-Black.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}
